[Desktop Entry]
Type=Application
Name=Teverse
Exec=/bin/sh -c '$HOME/teverse/Teverse'
Icon=teverse.png
Terminal=false
Categories=GTK;GNOME;
MimeType=x-scheme-handler/teverse;application/tevapp;