[Desktop Entry]
Type=Application
Name=Teverse
Exec=~/teverse/Teverse
Icon=1024.png
Terminal=false
Categories=GTK;GNOME;Game;Development;
MimeType=x-scheme-handler/teverse;application/tevapp;